/*==============================================================

Name: Material vCard
URI: http://abisachberlin.com/sites/material-vcard
Author: Abisach Berlin
Author URI: http://abisachberlin.com
Description: Material Design, One Page vCard Template
Version: 1.0.0
Tags: Material Design, vCard Template, Polymer Design, One Page Template

Material vCard is forked from Vikram Tiwari's One Pager template
Link: https://github.com/VikramTiwari/vikramtiwari.github.com

==============================================================*/

body,
html {
	height: 100%
}

body,
p {
	margin: 0
}

body {
	background: url(img/bg.jpg) center center no-repeat fixed #175f77;
	background-size: cover!important;
	position: fixed;
	padding: 0;
	width: 100%;
	font: 400 14px/1.618em "Noto Sans", sans-serif;
	-webkit-font-smoothing: antialiased
}

.profile-card,
body:before {
	position: absolute;
	left: 50%;
	z-index: 2
}

body:before {
	content: "";
	height: 0;
	padding: 0;
	border: 110em solid #175f77;
	top: 100%;
	display: block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-animation: puff .5s 1.8s cubic-bezier(.55, .055, .675, .19) forwards, borderRadius .2s 2.3s linear forwards;
	animation: puff .5s 1.8s cubic-bezier(.55, .055, .675, .19) forwards, borderRadius .2s 2.3s linear forwards
}

h1,
h2 {
	font-weight: 300;
	margin: 0 0 5px
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 16px
}

.profile-card {
	background: #FFB300;
	width: 56px;
	height: 56px;
	top: 50%;
	overflow: hidden;
	opacity: 0;
	margin-top: 70px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
	-webkit-animation: init .5s .2s cubic-bezier(.55, .055, .675, .19) forwards, moveDown 1s .8s cubic-bezier(.6, -.28, .735, .045) forwards, moveUp 1s 1.8s cubic-bezier(.175, .885, .32, 1.275) forwards, materia .5s 2.7s cubic-bezier(.86, 0, .07, 1) forwards;
	animation: init .5s .2s cubic-bezier(.55, .055, .675, .19) forwards, moveDown 1s .8s cubic-bezier(.6, -.28, .735, .045) forwards, moveUp 1s 1.8s cubic-bezier(.175, .885, .32, 1.275) forwards, materia .5s 2.7s cubic-bezier(.86, 0, .07, 1) forwards
}

.profile-card header {
	width: 179px;
	height: 280px;
	padding: 40px 20px 30px;
	display: inline-block;
	float: left;
	border-right: 2px dashed #EEE;
	background: #FFF;
	color: #000;
	margin-top: 50px;
	opacity: 0;
	text-align: center;
	-webkit-animation: moveIn 1s 3.1s ease forwards;
	animation: moveIn 1s 3.1s ease forwards
}

.profile-card .profile-bio,
.profile-social-links {
	float: right;
	background: #FFF;
	opacity: 0;
	text-align: center;
	display: inline-block
}

.profile-card header h1 {
	color: #FF5722
}

.profile-card header a {
	display: inline-block;
	text-align: center;
	position: relative;
	margin: 25px 30px
}

.profile-card header a>img {
	width: 120px;
	max-width: 100%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: -webkit-box-shadow .3s ease;
	transition: box-shadow .3s ease;
	-webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, .06);
	box-shadow: 0 0 0 8px rgba(0, 0, 0, .06)
}

.profile-card header a:hover>img {
	-webkit-box-shadow: 0 0 0 12px rgba(0, 0, 0, .1);
	box-shadow: 0 0 0 12px rgba(0, 0, 0, .1)
}

.profile-card .profile-bio {
	width: 175px;
	height: 180px;
	padding: 50px 20px 30px;
	color: #333;
	margin-top: 50px;
	-webkit-animation: moveIn 1s 3.1s ease forwards;
	animation: moveIn 1s 3.1s ease forwards
}

.profile-social-links {
	width: 218px;
	margin: 50px 0 0;
	padding: 15px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-animation: moveIn 1s 3.1s ease forwards;
	animation: moveIn 1s 3.1s ease forwards
}

.profile-social-links li {
	list-style: none;
	margin: -5px 0 0;
	padding: 0;
	float: left;
	width: 33.3%;
	text-align: center
}

.profile-social-links li a {
	display: inline-block;
	width: 24px;
	height: 24px;
	padding: 6px;
	position: relative;
	overflow: hidden!important;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

.profile-social-links li a img {
	position: relative;
	z-index: 1
}

.profile-social-links li a:before {
	display: block;
	content: "";
	background: rgba(0, 0, 0, .3);
	position: absolute;
	left: 0;
	top: 0;
	width: 36px;
	height: 36px;
	opacity: 1;
	-webkit-transition: transform .4s ease, opacity 1s ease-out;
	transition: transform .4s ease, opacity 1s ease-out;
	-webkit-transform: scale3d(0, 0, 1);
	transform: scale3d(0, 0, 1);
	-webkit-border-radius: 50%;
	border-radius: 50%
}

.profile-social-links li a:hover:before {
	-webkit-animation: ripple 1s ease forwards;
	animation: ripple 1s ease forwards
}

.profile-social-links li a img,
.profile-social-links li a svg {
	width: 24px
}

@-webkit-keyframes init {
	0% {
		width: 0;
		height: 0
	}
	100% {
		width: 56px;
		height: 56px;
		margin-top: 0;
		opacity: 1
	}
}

@keyframes init {
	0% {
		width: 0;
		height: 0
	}
	100% {
		width: 56px;
		height: 56px;
		margin-top: 0;
		opacity: 1
	}
}

@-webkit-keyframes puff {
	0% {
		top: 100%;
		height: 0;
		padding: 0
	}
	100% {
		top: 50%;
		height: 100%;
		padding: 0 100%
	}
}

@keyframes puff {
	0% {
		top: 100%;
		height: 0;
		padding: 0
	}
	100% {
		top: 50%;
		height: 100%;
		padding: 0 100%
	}
}

@-webkit-keyframes borderRadius {
	0% {
		-webkit-border-radius: 50%
	}
	100% {
		-webkit-border-radius: 0
	}
}

@keyframes borderRadius {
	0% {
		-webkit-border-radius: 50%
	}
	100% {
		border-radius: 0
	}
}

@-webkit-keyframes moveDown {
	0% {
		top: 50%
	}
	50% {
		top: 40%
	}
	100% {
		top: 100%
	}
}

@keyframes moveDown {
	0% {
		top: 50%
	}
	50% {
		top: 40%
	}
	100% {
		top: 100%
	}
}

@-webkit-keyframes moveUp {
	0% {
		background: #FFB300;
		top: 100%
	}
	50% {
		top: 40%
	}
	100% {
		top: 50%;
		background: #E0E0E0
	}
}

@keyframes moveUp {
	0% {
		background: #FFB300;
		top: 100%
	}
	50% {
		top: 40%
	}
	100% {
		top: 50%;
		background: #E0E0E0
	}
}

@-webkit-keyframes materia {
	0% {
		background: #E0E0E0
	}
	50% {
		-webkit-border-radius: 4px
	}
	100% {
		width: 440px;
		height: 280px;
		background: #FFF;
		-webkit-border-radius: 4px
	}
}

@keyframes materia {
	0% {
		background: #E0E0E0
	}
	50% {
		border-radius: 4px
	}
	100% {
		width: 440px;
		height: 280px;
		background: #FFF;
		border-radius: 4px
	}
}

@-webkit-keyframes moveIn {
	0% {
		margin-top: 50px;
		opacity: 0
	}
	100% {
		opacity: 1;
		margin-top: -20px
	}
}

@keyframes moveIn {
	0% {
		margin-top: 50px;
		opacity: 0
	}
	100% {
		opacity: 1;
		margin-top: -20px
	}
}

@-webkit-keyframes scaleIn {
	0% {
		-webkit-transform: scale(0)
	}
	100% {
		-webkit-transform: scale(1)
	}
}

@keyframes scaleIn {
	0% {
		transform: scale(0)
	}
	100% {
		transform: scale(1)
	}
}

@-webkit-keyframes ripple {
	0% {
		transform: scale3d(0, 0, 0)
	}
	100%,
	50% {
		-webkit-transform: scale3d(1, 1, 1)
	}
	100% {
		opacity: 0
	}
}

@keyframes ripple {
	0% {
		transform: scale3d(0, 0, 0)
	}
	100%,
	50% {
		transform: scale3d(1, 1, 1)
	}
	100% {
		opacity: 0
	}
}

@media screen and (min-aspect-ratio:4/3) {
	body {
		background-size: 100% auto
	}
	body:before {
		width: 0
	}
	@ -webkit-keyframes puff {
		0% {
			top: 100%;
			width: 0;
			padding-bottom: 0
		}
		100% {
			top: 50%;
			width: 100%;
			padding-bottom: 100%
		}
	}
	@keyframes puff {
		0% {
			top: 100%;
			width: 0;
			padding-bottom: 0
		}
		100% {
			top: 50%;
			width: 100%;
			padding-bottom: 100%
		}
	}
}

@media screen and (min-height:480px) {
	.profile-card .profile-bio,
	.profile-card header {
		width: auto;
		height: auto;
		display: block;
		float: none
	}
	.profile-card header {
		padding: 30px 20px;
		border-right: none
	}
	.profile-card .profile-bio {
		padding: 15px 20px 30px
	}
	.profile-social-links {
		width: 100%;
		display: block;
		float: none
	}
	@ -webkit-keyframes materia {
		100%,
		50% {
			-webkit-border-radius: 4px
		}
		0% {
			background: #E0E0E0
		}
		100% {
			width: 280px;
			height: 440px;
			background: #FFF
		}
	}
	@keyframes materia {
		0% {
			background: #E0E0E0
		}
		50% {
			border-radius: 4px
		}
		100% {
			width: 280px;
			height: 440px;
			background: #FFF;
			border-radius: 4px
		}
	}
}
